<form
action="/spending-tracker/category-groups"
method="post">

  <label for="name"> Name: </label>
  <input type="text" name="name">

  <label for="colour"> Colour: </label>
  <input type="color" name="colour">

  <input type="submit" value="Create">
</form>

#67ae45
<% @category_groups.each { |category_group| %>

  <div style="background-color:<%=category_group.colour%>;">
    <h3><%= category_group.name %></h3>

    <ul>
      <% category_group.categories().each { |category| %>
        <li><%= category.name %></li>
      <%}%>
    </ul>

    <form
      action="/spending-tracker/category-groups/<%= category_group.id%>/edit.html"
      method="post"
      >
        <input type="submit" name="" value="Edit">
    </form>
  </div>

<%}%>
