:root {
  --grey-dark: hsl(146, 15%, 10%);
  --grey-med-dark: hsl(146, 15%, 30%);
  --grey-med-light: hsl(146, 15%, 50%);
  --grey-light: hsl(146, 15%, 70%);
  --grey-lightest: hsl(146, 15%, 80%);

  --main-bold: hsl(146, 100%, 30%);
  --main-med: hsl(146, 100%, 45%);
  --main-light: hsl(146, 100%, 60%);
}

/* Insert styling for <progress> tag here */
progress, progress::-webkit-progress-bar, progress::-webkit-progress-value, progress::-moz-progress-bar {

}

* {
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: honeydew;
  text-shadow: 0.2px 0.2px 0.2px lightgrey;
}

a:hover {
  color: white;
  text-shadow: 0.5px 0.5px 0.5px lightgrey;
}

ul {
  margin: 0;
  padding-top: 1vw;
  padding-left: 2vw;
  list-style: none;
}

li {
  margin: 0.5vw;
}

header li {
  display: inline-block;
}

table {
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid grey;
  text-align: center;
}

tbody > tr:hover {background-color: #d9d9d9;}
