:root {
  --grey-dark: hsl(146, 15%, 10%);
  --grey-med-dark: hsl(146, 15%, 30%);
  --grey-med-light: hsl(146, 15%, 50%);
  --grey-light: hsl(146, 15%, 70%);
  --grey-lightest: hsl(146, 15%, 80%);

  --main-bold: hsl(146, 100%, 30%);
  --main-med: hsl(146, 100%, 45%);
  --main-light: hsl(146, 100%, 60%);
}

/* Insert styling for <progress> tag here */
progress, progress::-webkit-progress-bar, progress::-webkit-progress-value, progress::-moz-progress-bar {

}

* {
  font-family: helvetica, arial, sans-serif;
}
