.grid-fixhead-fixside {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr auto 200px;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
}

@media (min-width: 500px) {
  .grid-fixhead-fixside {
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto 200px;
    grid-template-areas:
      "header  header"
      "sidebar main"
      "sidebar  footer";
  }
}

@media (min-width: 700px) {
  .grid-fixhead-fixside {
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: 100px auto 200px; */
    grid-template-rows: 150px auto auto;
    grid-template-areas:
    "header  header"
    "sidebar main"
    "sidebar  footer";
   }
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}

.fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 15vh;
  width: 100vw;
}

.fixed-left {
  position: fixed;
  top: 20vh;
  left: 0px;
  width: 15vw;
  height: 85vh;
}

.fixed-right {
  position: fixed;
  top: 20vh;
  left: 15vw;
  height: 88vh;
  width: 85vw;
  overflow-x: scroll;
}
