.bg-first-letter::first-letter {
  color: var(--main-bold);
  font-weight: bold;
  margin-right: 0.5em;
  initial-letter: 4;
  -webkit-initial-letter: 3;
  initial-letter: 3;
}


.bg-light {
  background-color: var(--main-light);
}
.bg-med {
  background-color: var(--main-med);
}
.bg-bold {
  background-color: var(--main-bold);
}
