<div class=".sticky-header">
  <form class=""
  action="/spending-tracker/transactions/filtered"
  method="post">

    <label for="date">Select Date</label>
    <input type="date" name="date" value="">

    <label for="date_range">Select Date Range</label>
    <select class="" name="date_range">
      <option value="day">Week</option>
      <option value="month">Month</option>
    </select>

    <label for="group_by">Group By...</label>
    <select class="" name="group_by">
      <option value="0"> - </option>
      <option value="day">Day</option>
      <option value="week">Week</option>
      <option value="category">Category</option>
    </select>



  </form>

  <th >

  </th>
</div>
